@import "../../../styles/abstracts/";


.filter-checkbox {
      padding: 1.2rem 0;
      border-bottom: 1px solid rgba($gold-200, 0.2);
      @include flex(null, start, column, null);

      &:first-child {
            padding-top: 0;
      }

      &:last-child {
            border-bottom: none;
            padding-bottom: 0;
      }

      h3 {
            @include text(1.3rem, 600, $gold-700, 1.6rem);
            margin-bottom: 0.8rem;
            color: $gold-700;
      }

      &__field {
            @include flex(null, center, null, 0.8rem);
            padding: 0.4rem 0;
            transition: all 0.15s ease;
            border-radius: 6px;
            padding-left: 0.2rem;
            margin-left: -0.2rem;

            &:hover {
                  background: rgba($gold-100, 0.5);
            }

            label {
                  @include text(1.3rem, 400, $black, 1.6rem);
                  cursor: pointer;
                  transition: color 0.15s ease;

                  &:hover {
                        color: $gold-700;
                  }
            }
      }
}